@CHARSET "UTF-8";

.grid-style {
    border: 1px solid rgb(212, 212, 212);
    width: 100%;
    height: 600px
}

.game-tab-container li {
    width: 100px;
}

.game-tab-registering {
    background-color: #FFFFFF;
}

.game-tab-starting {
    background-color: #0000FF;
}

.game-tab-inprogress {
    background-color: #00FF00;
}

.game-tab-finished {
    background-color: #FF0000;
}

.action-on-true {
    background-color: #00FF00;
}

.action-on-false {
    background-color: #FF0000;
}

.table {
    background: url(/resources/img/Table.svg) no-repeat;
}

.my-seat {
    box-shadow: inset 0 0 1em gold;
}

.my-cards {
    width: 100px;
    height: 100px;
}

.common-card {
    width: 100px;
    height: 100px;
}
