.error-message {
	color: #ff0000;
}

.row-top-buffer {
	margin-top: 20px;
}

.standard-form {
	max-width: 350px;
	margin: 0 auto;
}

.game-tab-container li {
  width: 100px;
}

.game-tab-registering {
  background-color: #FFFFFF;
}

.game-tab-starting {
  background-color: #0000FF;
}

.game-tab-inprogress {
  background-color: #00FF00;
}

.game-tab-finished {
  background-color: #FF0000;
}
