.error-message {
	color: #ff0000;
}

.row-top-buffer {
	margin-top: 20px;
}

.standard-form {
	max-width: 350px;
	margin: 0 auto;
}

.hidden {
  display: none;
}

.game-list {
  margin-top: 10px;
}

.poker-table {
  background: url(/resources/img/Table.svg) no-repeat;
}

.my-cards {
  width: 100px;
  height: 100px;
}

.common-card {
  width: 100px;
  height: 100px;
}

.my-seat {
  box-shadow: inset 0 0 1em gold;
}

div[data-action-on='true'] {
  background-color: #00FF00;
}

div[data-action-on='false'] {
  background-color: #FF0000;
}

div[data-still-in-hand='true'] {
  color: #0000FF;
}

div[data-still-in-hand='false'] {
  color: #FF00FF;
}

.chat-area textarea {
  height: 100px;
  width: 100%;
  background-color: white;
}

.chat-area input[type=text] {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f8f8f8;
}

footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
	flex-flow: row wrap;
}

footer .container p {
  color: #777777;
	padding-top: 5px;
}
