.error-message {
	color: #ff0000;
}

.row-top-buffer {
	margin-top: 20px;
}

.standard-form {
	max-width: 350px;
	margin: 0 auto;
}

.game-tab-container li {
  width: 100px;
}

.game-tab-registering {
  background-color: #FFFFFF;
}

.game-tab-starting {
  background-color: #0000FF;
}

.game-tab-inprogress {
  background-color: #00FF00;
}

.game-tab-finished {
  background-color: #FF0000;
}

.hidden {
  display: none;
}

.game-list {
  margin-top: 10px;
}

.poker-table {
  background: url(/resources/img/Table.svg) no-repeat;
}

.my-cards {
  width: 100px;
  height: 100px;
}

.common-card {
  width: 100px;
  height: 100px;
}

.my-seat {
  box-shadow: inset 0 0 1em gold;
}

div[data-action-on='true'] {
  background-color: #00FF00;
}

div[data-action-on='false'] {
  background-color: #FF0000;
}

div[data-still-in-hand='true'] {
  color: #0000FF;
}

div[data-still-in-hand='false'] {
  color: #FF00FF;
}

.chat-area textarea {
  height: 100px;
  width: 100%;
  background-color: white;
}

.chat-area input[type=text] {
  width: 100%;
}

.navbar-default {
	background-color: #1d2731;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #afafaf;
}

.navbar-default .navbar-nav > .active > a {
	color: #ffffff;
	background-color: #d9b310;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover {
	color: #afafaf;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  /*background-color: #5bc0de;*/
  background-color: #1d2731;
}

footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
	flex-flow: row wrap;
}

footer .container p {
  color: #ffffff;
	padding-top: 5px;
}
