.error-message {
	color: #ff0000;
}

.row-top-buffer {
	margin-top: 20px;
}

.standard-form {
	max-width: 350px;
	margin: 0 auto;
}

.game-tab-container li {
  width: 100px;
}

.game-tab-registering {
  background-color: #FFFFFF;
}

.game-tab-starting {
  background-color: #0000FF;
}

.game-tab-inprogress {
  background-color: #00FF00;
}

.game-tab-finished {
  background-color: #FF0000;
}

.hidden {
  display: none;
}

.overlay {
  position:absolute;
  z-index: 1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #000000;
  opacity: 0.6;
}

.content {
  z-index: 2;
  position: absolute;
  width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  padding:10px;
  text-align: left;
}

.close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.game-list {
  margin-top: 10px;
}

.poker-table {
  background: url(/resources/img/Table.svg) no-repeat;
}

.my-cards {
  width: 100px;
  height: 100px;
}

.common-card {
  width: 100px;
  height: 100px;
}

.my-seat {
  box-shadow: inset 0 0 1em gold;
}

div[data-action-on='true'] {
  background-color: #00FF00;
}

div[data-action-on='false'] {
  background-color: #FF0000;
}

div[data-still-in-hand='true'] {
  color: #0000FF;
}

div[data-still-in-hand='false'] {
  color: #FF00FF;
}

.chat-area textarea {
  height: 100px;
  width: 100%;
  background-color: white;
}

.chat-area input[type=text] {
  width: 100%;
}
