<div>
  <button ng-click="openCreateGameDialog()">Create Game</button>

    <fp-gamelist></fp-gamelist>

  <fp-chat class="global-chat"></fp-chat>

    <fp-create-game-dialog></fp-create-game-dialog>

  <div id="join-game-dialog">
    <form name="joinGameForm" ng-submit="submitJoinGame()">
      <div>
        <label>Account balance:</label> <span ng-bind="accountBalance"></span>
      </div>
      <div>
        <label>Account balance:</label> <span ng-bind="accountBalance"></span>
      </div>
      <input type="submit" value="Join" />
    </form>
  </div>

</div>
