<div>
  <p>game: {{gameId}}</p>
  <p>table: {{tableId}}</p>
  
  <div class="table">
      <div ng-bind="table.totalPot"></div>
      <div class="common-cards-area">
          <span ng-repeat="commonCard in commonCards">
              <img class="common-card" ng-src="{{commonCard}}" />
          </span>
      </div>
      <div ng-repeat="seat in table.seats">
          <div seat ng-model="seat"></div>
      </div>
  </div>
  
  <div>
      <img class="my-cards" ng-src="{{myLeftCardUrl}}" />
      <img class="my-cards" ng-src="{{myRightCardUrl}}" />
  </div>
  
  <div ng-show="pokerActions">
    <div ng-show="pokerActions.actionOn">
        <button ng-click="check()" ng-show="pokerActions.check">Check</button>
        <button ng-click="call()" ng-show="pokerActions.call">Call</button>
        <button ng-click="raise()" ng-show="pokerActions.raise">Raise</button>
        <button ng-click="fold()" ng-show="pokerActions.fold">Fold</button>
    </div>
    <div ng-show="!pokerActions.actionOn">
        <label ng-show="pokerActions.check"><input type="checkbox" />Check</label>
        <label ng-show="pokerActions.call"><input type="checkbox" />Call</label>
        <label ng-show="pokerActions.raise"><input type="checkbox" />Raise</label>
        <label ng-show="pokerActions.fold"><input type="checkbox" />Fold</label>
    </div>
  </div>

  <fp-chat class="table-chat"></fp-chat>
</div>