<div>
  <p>game: {{gameId}}</p>
  <p>table: {{tableId}}</p>
  
  <div class="table">
      <div ng-bind="table.totalPot"></div>
      <div class="common-cards-area">
          <span ng-repeat="commonCard in commonCards">
              <img class="common-card" ng-src="{{commonCard}}" />
          </span>
      </div>
      <div ng-repeat="seat in table.seats">
          <div seat ng-model="seat"></div>
      </div>
  </div>
  
  <div>
      <img class="my-cards" ng-src="{{myLeftCardUrl}}" />
      <img class="my-cards" ng-src="{{myRightCardUrl}}" />
  </div>

  <div chat></div>
</div>